.gridContainer {
    height: 450px;
    width: 450px;
}
.grid {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: 100%;
    height: 100%;
    font-size: 9em;
}
.cell {
    background-color: #EEE;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 150px; 
    height: 150px;
}
.cell:nth-child(even) {
    background-color: #FFF;
}