.history {
    display: block;
    background-color: lightgray;
}

.historyItem {
    display: inline-block;
    margin-right: 5px;
    font-size: 8px;
}

.historyItem .grid {
    font-size: 1em;
    height: 45px;
    width: 45px;
}
.historyItem .cell {
    width: 15px; 
    height: 15px;
}
.historyItem .grid {
    border: 2px transparent solid;
}
.historyItem.matchStatus-Match .grid {
    border-color: green;
}
.historyItem.matchStatus-NoMatch .grid {
    border-color: red;
}

.historyItem-8 {
    opacity: .75;
}

.historyItem-9 {
    opacity: .5;
}